# gitignore for the OpenOLAT sharedfolder project

## Editors:
# WinEdt and vim
*.bak
*.sav
*.prj

*~
*.un~

# Folders with binaries and not versioned files
# We do not version the bitmaps!
Assets/images/
Assets/downloads/

# We version the datasets, not the PDF describing them and javascript files
Assets/datasets/daten.pdf

## R section
R/Assets/images/
R/Assets/downloads/
# Ignore the html done with Rmd - there is an own repo for that
R/Assets/Rmd/


## Rmd files
Rmd/*.html
# Ignore R files
Rmd/.Rhistory
Rmd/*.md
# Shiny example
Rmd/**/Example/
# Daten ignorieren, das sind Kopien!
Rmd/data/
# images werden erzeugt, ignorieren
Rmd/images/
# Github-example: Ergebnis ignorieren
Rmd/exampleGithub_files/
