[submodule "RMarkdown"]
	path = RMarkdown
	url = https://github.com/MBrill/RMarkdown
[submodule "Jupyter"]
	path = Jupyter
	url = https://github.com/MBrill/Jupyter.git
[submodule "Shiny"]
	path = Shiny
	url = https://github.com/MBrill/Shiny.git
